h1 {
text-align: center;
font-family: 'Gilroy-Bold';
font-size: 80px;
font-style: normal;
font-weight: 400;
}
h2 {
     color: #1E1E1E;
font-family: 'Gilroy-Bold';
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h3 {
    color: #1E1E1E;

font-family: Gilroy-Bold;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h4{
    color: #F6973F;

    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.232px;
}
h5{
    color: #1E1E1E;

text-align: center;
font-family: Gilroy-Bold;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.logo{
    font-family: 'Gilroy-Bold';
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.28px;
text-transform: capitalize;
}
.logo1{
    color: #1E1E1E;

    font-family: 'Gilroy-Bold';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}
.nav1 {

font-family: 'Gilroy-Medium';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.p1 {
    text-align: center;
font-family: Gilroy-Regular;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.p2{
    color: #1E1E1E;

font-family: Gilroy-Regular;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 185%;
}
.p3{
    color: #1E1E1E;

font-family: Gilroy-Regular;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 185%;
}
.p4{
    color: #1E1E1E;

text-align: center;
font-family: Gilroy-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.p5{
    color: #1E1E1E;

text-align: center;
font-family: Gilroy-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.p6{
    color: #0D1B39;

font-family: Inter;
font-size: 21.325px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.button1{
    color: #FFF;

text-align: center;
font-family: Gilroy-Regular;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%
}
button{
    color: #1E1E1E;

font-family: Gilroy-Regular;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 185%;
}
.moreintro{
    color: #E58411;

font-family: Gilroy-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 185%;
}
.viewall{
    color: #E58411;

font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 185%;
}
.title{
    color: #E58411;

font-family: Gilroy-SemiBold;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.15px;
text-transform: uppercase;
}
.title1{
    color: #E58411;

text-align: center;
font-family: Gilroy-SemiBold;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.15px;
text-transform: uppercase;
}
.text{
    color: #1E1E1E;

font-family: Gilroy-Medium;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.chair{
    color: #8D8D8D;

font-family: Inter;
font-size: 16.755px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.price1{
    color: #0D1B39;

    font-family: Inter;
    font-size: 15.232px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.price2{
    color: #0D1B39;

font-family: Inter;
font-size: 21.325px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.company{
    color: #1E2833;

font-family: DM Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.205px;
}
